{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home | Enrolment
{% endblock  %}

   
{% block content %}








    <div class="container my-5 col-4">
        <form class="d-flex" method='POST' role="search" action="">

            {% csrf_token %}
            <input class="form-control me-2" type="search" name="sch_query" placeholder="Search school here ..." aria-label="Search">
            <button class="btn btn-outline-primary"href="{% url 'home-search' %}" type="submit">Go</button>
        </form>
    </div>
       
     <!--  educational quotes -->
     <div class="card container mt-5" style="width: 40rem;">
        <div class="card-header text-center">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
    </div>



    {% endblock  %}

