{% extends 'base.html' %}

{% load static %}

{% block title %}
  Login-User | Enrolment 
{% endblock %}


{% block content %}

    <div class="card container mx-auto mt-5 mb-5 col-md-3 bg-secondary-gradient">
        <div class="card-body">
            <h3 class="card-title fs-3 text-center mt-4">Adjiringanor JHS</h3>
            <small class="card-title text-md-center mt-2 mx-auto d-block text-muted">Login Portal</small>
            <small class="text-center d-block mt-4 mx-auto">Welcome back User!</small>
          <p class="card-text">
            <form action=" " method="POST">

              {% csrf_token %}
                <div class="mb-4">
                  <input type="username" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username" required>
                </div>
                <div class="mb-4">
                  <input type="password" class="form-control" name="password1" placeholder="password"  required>
                </div>
                <button type="submit" class="d-block text-center mx-auto  mb-3 btn btn-primary">login</button>
              </form>
          </p>
          <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create account</a></p>

        </div>
      </div>


{% endblock %}
   

