{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add Teacher Record | Enrolment
    {% endblock title %}

  

    {% block content %}

    


    <div class="card container mx-auto mt-5 formBody bg-secondary-gradient">
        <div class="card-body">
          <h3 class="card-title text-center  mt-4">Teacher Record Form</h3>
          <p class="card-text">

            <form class="row g-3 mt-4" action="" method="POST" enctype="multipart/form-data">

              {% csrf_token %}
              {% if form.errors %}
              {% comment %} <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  
                </button>
              </div> {% endcomment %}


                <div class="alert alert-warning alert-dimissible  fade show  fs-6" role="alert">
                  <small>Your Form Has Errors
                  {% for field in form %}
                    {% if field.errors %} 
                    {{ field.errors }}
                    {% endif %}
                  {% endfor %}

                  <button type="button" class="btn-close alat-btn" data-bs-dismiss="alert" arial-label="Close">
                    
                  </button>
                </small>
                </div>
              {% endif %}  
              
              {% if user.is_superuser %}
                <div class="col-md-4">
                    <label for="user" class="form-label">Username </label>
                    {{ teacher_form.user | as_crispy_field }} 
                    
                </div>
              {% endif %}

                {% if user.is_superuser %}
                <div class="col-md-4">
                    <label for="surname" class="form-label">Surname</label>
                    {{ teacher_form.surname | as_crispy_field }} 
                </div>
                <div class="col-md-4">
                    <label for="othernames" class="form-label">Other names</label>
                    {{ teacher_form.othernames | as_crispy_field }} 
                </div>

                {% else %}

                <div class="col-md-6">
                    <label for="surname" class="form-label">Surname</label>
                    {{ teacher_form.surname | as_crispy_field }} 
                </div>
                <div class="col-md-6">
                    <label for="othernames" class="form-label">Other names</label>
                    {{ teacher_form.othernames | as_crispy_field }} 
                </div>

                {% endif %}

                <div class="col-md-6">
                    <label for="dateOfbirth" class="form-label">Date of birth:</label>
                    {{ teacher_form.date_of_birth | as_crispy_field }}
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                    {{ teacher_form.email | as_crispy_field }}
                </div>
                <div class="col-md-2">
                  <label for="staff-id" class="form-label">Staff ID</label>
                  {{ teacher_form.staff_ID | as_crispy_field }}
                </div>
                <div class="col-md-3">
                  <label for="ntc" class="form-label">NTC Number</label>
                  {{ teacher_form.NTC_no | as_crispy_field }}
                </div>
                <div class="col-md-3">
                  <label for="regNo" class="form-label">Registered Number</label>
                  {{ teacher_form.regd_no | as_crispy_field }}
                </div>
                <div class="col-md-4">
                  <label for="ssnit" class="form-label">SSNIT Number</label>
                  {{ teacher_form.SSNIT_no | as_crispy_field }}
                </div>
                <div class="col-md-2">
                  <label for="present-rank" class="form-label">Present Rank</label>
                  {{ teacher_form.present_rank | as_crispy_field }}
                </div>
                <div class="col-md-4">
                  <label for="year-to-rank" class="form-label">Date Promoted to Rank</label>
                  {{ teacher_form.date_promoted_to_rank | as_crispy_field }}
                </div>
                
                <div class="col-md-3">
                  <label for="contact" class="form-label">Contact Number</label>
                  {{ teacher_form.contact_no | as_crispy_field }}
                </div>
                <div class="col-md-3">
                  <label for="residence" class="form-label">Residence</label>
                  {{ teacher_form.residence | as_crispy_field }}
                </div>
                <div class="col-md-2">
                  <label for="salary" class="form-label">Salary Level</label>
                  {{ teacher_form.salary_level | as_crispy_field }}
                </div>
                <div class="col-md-3">
                  <label for="periods-per-week" class="form-label">Periods per week</label>
                  {{ teacher_form.periods_per_week | as_crispy_field }}
                </div>
                <div class="col-md-3">
                  <label for="previous-station" class="form-label">Previous station</label>
                  {{ teacher_form.previous_station | as_crispy_field }}
                </div>

                <div class="col-md-3">
                    <label for="gender" class="form-label">Gender</label> <br>

                    {% comment %} <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" required checked>
                        <label class="form-check-label" for="exampleRadios1">
                        Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" required>
                        <label class="form-check-label" for="exampleRadios2">
                        Female
                        </label>
                    </div> {% endcomment %}

                    {{ teacher_form.gender | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    <label for="date-of-appointment" class="form-label">Date of first Appointment</label>
                    {{ teacher_form.date_of_first_appointment | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    <label for="date-present-station" class="form-label">Date posted to present station</label>
                    {{ teacher_form.date_posted_to_present_station | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    <label for="subject-teaching" class="form-label">Subjects teaching</label>
                    {{ teacher_form.subjects_teaching | as_crispy_field }}
                </div>
                <div class="col-md-4">
                    <label for="bank-name" class="form-label">Bank name</label>
                    {{ teacher_form.bank_name| as_crispy_field }}
                </div>
                <div class="col-md-4">
                    <label for="account-number" class="form-label">Account no.</label>
                    {{ teacher_form.account_no | as_crispy_field }}
                </div>

                <div class="col-md-6">
                    <label for="academic-qualification-name" class="form-label">Academic Qualification</label>
                    {{ teacher_form.academic_qualification | as_crispy_field }}
                    <label for="academic-qualification-date" class="form-label">Date of Academic Qualification</label>
                    {{ teacher_form.date_of_academic_qualification | as_crispy_field }}
                  </div>
                <div class="col-md-6">
                    <label for="professional-qualification-name" class="form-label">Professional Qualification</label>
                    {{ teacher_form.prof_qualification | as_crispy_field }}
                    <label for="professional-qualification-date" class="form-label">Date of Professional Qualification</label>
                    {{ teacher_form.date_of_prof_qualification | as_crispy_field }}
                  </div>
                <div class="col-md-6">
                    <label for="schedule-name" class="form-label">Duties Assigned</label>
                    {{ teacher_form.duties_assigned | as_crispy_field }}
                </div>
                <div class="col-md-6">
                    <label for="picture_upload" class="form-label">Upload a picture</label>
                    {{ teacher_form.profile_image | as_crispy_field }}
                </div>
                  
                <div class="row text-center px-3 mt-3">
                  <button type="submit" class="btn btn-primary d-inline-block mx-auto col-6">Submit</button>
                </div>
              </form>
        </div>
    </div>

      <a href="/html/teacherprofile.html" target="_blank" rel="noopener noreferrer"> teacherprofile link </a>
    
      {% endblock  %}
