{% extends 'base.html' %}

{% load static %}

{% block title %}

  Teachers | Enrolment
{% endblock  %}


{% block content %}

    <div class="card container mx-auto mt-5 bg-secondary-gradient">
        <div class="card-body">
            <h3 class="card-title fs-3 text-center mt-5">List of Teachers Registered</h3>         
            <table class="table mt-4 table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">S/No.</th>
                    <th scope="col">Name of Staff</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Email</th>
                    <th scope="col">Staff ID</th>
                    <th scope="col">NTC No.</th>
                    <th scope="col">Registered No.</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
            
                  {% for teacher  in teachers  %}
                  <tr>
                    <td class="ps-3">{{ forloop.counter }}</td>
                    <td>{{ teacher.othernames }} {{ teacher.surname }}</td>
                    <td>{{ teacher.date_of_birth }}</td>
                    <td>{{ teacher.email }} </td>
                    <td>{{ teacher.staff_ID }}</td>
                    <td>{{ teacher.NTC_no }}</td>
                    <td>{{ teacher.regd_no }}</td>
                    <td><a href="{% url 'all-teachers' teacher.id %}"  class="btn btn-outline-primary btn-sm">Details</a></td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
   
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>

    <div class="card container mx-auto mt-5 bg-secondary-gradient">
        <div class="card-body">
            <h3 class="card-title fs-3 text-center mt-5 mb-0">List of Teachers Registered by Admin</h3>
            <table class="table mt-4 table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">S/No.</th>
                    <th scope="col">Name of Staff</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Email</th>
                    <th scope="col">Staff ID</th>
                    <th scope="col">NTC No.</th>
                    <th scope="col">Registered No.</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">

                  {% for teacherAdmin  in teachersAdmin  %}
                  <tr>
                    
                    <td class="ps-3" >{{ forloop.counter }}</td>
                    <td>{{ teacherAdmin.othernames }} {{ teacherAdmin.surname }}</td>
                    <td>{{ teacherAdmin.date_of_birth }}</td>
                    <td>{{ teacherAdmin.email }} </td>
                    <td>{{ teacherAdmin.staff_ID }}</td>
                    <td>{{ teacherAdmin.NTC_no }}</td>
                    <td>{{ teacherAdmin.regd_no }}</td>
                    <td><a href="{% url 'all-teachers-admin' teacherAdmin.id %}"  class="btn btn-outline-primary btn-sm">Details</a></td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
   
        </div>
      </div>
{% endblock  %}